<ul class="nav nav-list tag-tree">
    <li class="dropdown-header">{{ 'sidebar_header_subscriptions'|trans }}</li>

    {% set tagTree = buildTagTree() %}
    {% for tag in tagTree %}
        <li class="nav-sub-holder">
            <a href="{{ path('list_view', {'type': 't', 'name': tag.name|url_encode, 'typeId': tag.id}) }}" class="tag-container">
                <i class="tag-container-state icon-angle-right"></i> <i class="icon-folder-close"></i> {{ tag.name }}
                <span class="tag-count">({{ tag.unread }})</span>
            </a>
            {% if tag.subs|length > 0 %}
                <ul class="nav-collapse">
                    {% for sub in tag.subs %}
                        <li class="sub subid-{{ sub.id }}">
                            <a href="{{ path('list_view', {'type': 's', 'name': sub.host|url_encode, 'typeId': sub.id}) }}"{% if sub.unread > 0 %} class="tag-new-items"{% endif %}>
                                {% if sub.icon %}
                                    <img src="/static/img/subscription-icons/gen/{{ sub.icon }}" alt=""/>
                                {% else %}
                                    <img src="/static/img/subscription-icons/default.png" alt=""/>
                                {% endif %}

                                <span class="tag-sub-name">{{ sub.name }}</span>
                                <span class="tag-sub-count">({{ sub.unread }})</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>